body {
  background-color: beige;
}

.ligne {
  display: flex;
  justify-content: center;
}

.case {
  flex:auto;
  height:100px;
  max-width:100px;
  background-image: url("img/grass.jpg");
  background-size: cover;
  background-position-x: center;
  border: white 1px solid;
  color:white;
}

.rock {
  background-image:  url("img/rock.jpg");
}

.baton {
  background-image:  url("img/baton.jpg");
}

.fleau {
  background-image:  url("img/fleau.jpg");
}
.masse {
  background-image:  url("img/masse.jpg");
}
.hache {
  background-image:  url("img/hache.jpg");
}
.sabre_laser {
  background-image:  url("img/sabrelaser.jpg");
}

.joueur1 {
  background-image:  url("img/joueur1.jpg");
}

.joueur2 {
  background-image:  url("img/joueur2.jpg");
}

.joueur1_tab {
  background-image:  url("img/joueur1.jpg");
}

.joueur2_tab {
  background-image:  url("img/joueur2.jpg");
}

.case_active {
  border: red 1px solid;
}

#tab_joueur1 {
  text-align: center;
}

#tab_joueur1 .case{
  margin: auto;
}

#tab_joueur2 .case{
  margin: auto;
}

#tab_joueur2 {
  text-align: center;
}

.material-icons{
  color: black;
}

.attq_def_btn {
  margin-right: 3px;
}

.modal {
  position: absolute!important;
  float: left;
  left: 50%!important;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.modal .modal-content {
  text-align: center;
}

@media (max-width: 992px) {
  .div_bouton{
    margin-bottom: 3%;
  }

}
